<!DOCTYPE html>
<html>
<title>BikeDeed</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="w3-black">
<!-- App div -->
<div id="app">
  <!--
<span> {{ status }} </span>
<span> {{ amount }} </span>
-->
<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="chainlink.png" style="width:100%">
  <a href="index.html" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="register.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>REGISTER</p>
  </a>
  <a href="report.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>REPORT</p>
  </a>
  <a href="contact.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Page Content -->
<div class="w3-padding-large">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-16 w3-center w3-black">
    <h1 class="w3-jumbo"><i class="fa fa-bicycle"></i></h1>
      <p>{{ nametag }}</p>
  </header>

  <div class="w3-content w3-center w3-text-blue w3-padding-8">
    <button class="w3-padding-2 w3-button w3-blue" v-on:click="showMyBikes()">My Bikes</button>
    <button class="w3-padding-2 w3-button w3-blue" v-on:click="showAllBikes()">All Bikes</button>
  </div>

  <!-- Bike List Section -->
  <div class="w3-content w3-center w3-text-grey w3-padding-16">
    <ul>
      <li v-for="bike in bikelist">
      <button class="w3-padding-4 w3-button w3-black" v-on:click="showBikeDetails(bike)">{{ bike.name }}</button>
      </li>
    </ul>
  </div>

  <!-- Bike Details Section -->
  <div class="w3-content w3-center w3-text-blue w3-padding-8">
    <template v-if="displayDetails">
      <p>Owner: {{ bikeOwner }}</p>
      <p>Serial Number: {{ bikeSerialNumber }}</p>
      <p>Manufacturer: {{ bikeManufacturer }}</p>
      <button class="w3-padding-2 w3-button w3-blue" v-on:click="displayMetaData()">MetaData</button>
      <!--
      onclick',  "window.open('" + bikeMetaData + "', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes'); return false;");
      <a v-bind:href="bikeMetaData">MetaData</a>
      -->
      <p>Date Created: {{ bikeDateCreated }}</p>
    </template>
  </div>


    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">

  </footer>

<!-- END PAGE CONTENT -->
</div>

<!-- END App div -->
</div>
<script type="text/javascript" src="bikeappvue.js">bikeppvue here</script>
</body>
</html>
