<!DOCTYPE html>
<html>
<title>BikeDeed</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="modal.css">
<script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js">
</script>
<link rel="stylesheet" href="qrcode.css">
</script>
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
app {
    position: relative;
}
img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
[v-cloak] > * { display:none; }
[v-cloak]::before { content: "loading..."; }
</style>
<body class="w3-black">

<script type="text/x-template" id="modal-details-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              Bike Details
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button class="w3-bar-item w3-button w3-padding-small w3-hover-black" @click="$emit('close')">
                Close
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

<script type="text/x-template" id="modal-my-details-template">
  <transition name="modal2">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              Bike Details
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button class="w3-bar-item w3-button w3-padding-small w3-hover-black" @click="$emit('close')">
                Close
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

<!-- App div -->

<div id="app" v-cloak>
<nav class="w3-topnav w3-small w3-center">
  <a href="index.html" class="w3-bar-item w3-button w3-padding-small w3-hover-black">
    <p>HOME</p>
  </a>
  <a href="register.html" class="w3-bar-item w3-button w3-padding-small w3-hover-black">
    <p>SCAN A BIKE</p>
  </a>
  <a href="contact.html" class="w3-bar-item w3-button w3-padding-small w3-hover-black">
    <p>ABOUT</p>
  </a>
</nav>

<!-- Page Content -->
<div class="w3-padding-small">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-small w3-center w3-black">
    <h1 class="w3-jumbo"><i class="fa fa-bicycle"></i></h1>
    <div v-if="web3Enabled">
      <p>{{ networkLabel }} </p>
    </div>
    <div v-else>
      <p>BikeDeed</p>
      <div class="w3-content w3-center w3-text-grey w3-padding-small">
        <p>Ethereum is not enabled on your browser.  Redirecting you to Limited-mode site <i class="fa fa-spinner fa-spin" style="font-size:24px;color:white"></i></p>
      </div>
    </div>
  </header>

  <div v-if="web3Enabled" class="w3-center w3-padding-small w3-black">
    <div v-if="isMobile()">
    <input type=text class=qrcode-text
><label class=qrcode-text-btn>
      <input type=file
         name=qrcodeinput
         accept="image/*"
         capture=environment
         v-on:change="openQRCamera(this)"
         tabindex=-1>
      </label>
    </div>
    <div v-else>
      <label class=qrcode-text-input>
         <input type="text" id="bikeId" v-model="bikeId" :placeholder="bikeId">
         <button type="button" class="w3-padding-small w3-button w3-hover-black" v-on:click="verifyOwnership()">Verify Ownership</button></p>
      </label>
    </div>
  </div>

  <modal v-if="showDetailsModal" @close="showDetailsModal=false">
    <h3 slot="header">You don't own this Bike!</h3>
    <span slot="body">
      <p>Manufacturer: {{ lookupManufacturerLabel(bikeManufacturer) }}</p>
      <p>Serial Number: {{ bikeSerialNumber }}</p>
      <p>Owner: <a v-bind:href="'https://etherscan.io/address/' +  bikeOwner">{{bikeOwner}}</a></p>
      <p>Proof of Ownership</p><img v-bind:src="bikeUrl" v-on:click="displayMetaData()"></img>
      <button type="button" class="w3-padding-small w3-button w3-hover-black" v-on:click="displayMetaData()">{{ bikeUrl }}</button>
      <p>Date Created: {{ bikeDateCreated }}</p>
    </span>
  </modal>

  <modal2 v-if="showMyDetailsModal" @close="showMyDetailsModal=false">
    <h3 slot="header">Congratulation! You own this Bike!</h3>
    <span slot="body">
      <p>Manufacturer: {{ lookupManufacturerLabel(bikeManufacturer) }}</p>
      <p>Serial Number: {{ bikeSerialNumber }}</p>
      <p>Your Address: <a v-bind:href="'https://etherscan.io/address/' +  bikeOwner">{{bikeOwner}}</a></p>
      <p>Proof of Ownership</p><img v-bind:src="bikeUrl" v-on:click="displayMetaData()"></img>
      <button type="button" class="w3-padding-small w3-button w3-hover-black" v-on:click="displayMetaData()">{{ bikeUrl }}</button>
      <p>Date Created: {{ bikeDateCreated }}</p>
      <p>{{ processingMessage }} <i v-show="showSpinner" class="fa fa-spinner fa-spin" style="font-size:24px;color:white"></i></p>

      <input v-show="displayRegistrationComponents" type="text" id="newOwnerAddress" v-model="newOwnerAddress" :placeholder="bikeOwner">
      <button v-show="displayRegistrationComponents" type="button" class="w3-padding-small w3-button w3-hover-black" v-on:click="transferOwnership()">Transfer Bike Deed</button></p>
      <button v-show="displayRegistrationComponents" type="button" class="w3-padding-small w3-button w3-hover-black" v-on:click="deleteBikeDeed()">Delete Bike Deed</button></p>
    </span>


    <!-- Footer -->
  <footer class="w3-content w3-padding-small w3-text-grey w3-xlarge">

  </footer>

<!-- END PAGE CONTENT -->
</div>

<!-- END App div -->
</div>
<script type="text/javascript" src="bikeappvue.js">bikeppvue here</script>
</body>
</html>
