<!DOCTYPE html>
<html>
<title>The Bikechain</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="w3-black">
<div id="app">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="chainlink.png" style="width:100%">
  <a href="index.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="register.html" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>REGISTER</p>
  </a>
  <a href="contact.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-16 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><i class="fa fa-bicycle"></i></h1>
      <p>{{ nametag }}</p>
      <p>{{ status }}</p>
  </header>

  <div class="w3-content w3-justify w3-text-grey w3-padding-30" id="about">
    <!--<hr style="width:200px" class="w3-opacity">-->
<form id="register" action="register.html">
<h4 class="w3-padding-8 w3-text-light-grey">Serial Number</h4>
<input type="text" id="bikeSerialNumber" v-model="bikeSerialNumber" style="text-transform:uppercase" placeholder="Serial Number">
<br>
<h4 class="w3-padding-8 w3-text-light-grey">Manufacturer</h4>

<select v-model="bikeManufacturer">
  <option value="000">- Please Select a Bike Manufacturer -</option>
  <option v-for="manufacturer in manufacturers" v-bind:value="manufacturer.value">
    {{ manufacturer.text }}
  </option>
</select>
<br>
<h4 class="w3-padding-8 w3-text-light-grey">IPFS Hash</h4>
<input type="text" v-model="bikeIpfsHash" name="ipfsHash" placeholder="IPFS Hash">
<br>
<h4 class="w3-padding-8 w3-text-light-grey">Bike Shop Ethereum Address (Optional)</h4>
<input type="text" v-model="bikeShopAddress" name="bikeShopAddress" placeholder="Bike Shop Ethereum Address">
<br>
<h4 class="w3-padding-8 w3-text-light-grey">Purchase Price in Wei (Optional)</h4>
<input type="text" v-model="bikePurchasePrice" name="bikePurchasePrice"  placeholder="Purchase Price (wei)">
<br>
<br>
<button type="button" class="w3-padding-16 w3-button w3-black" v-on:click="registerBike()">Register</button>
</form>
<p id="demo"></p>
  </div>
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
  </footer>
</div>

</div>
<script type="text/javascript" src="bikeappvue.js">bikeppvue here</script>
</body>
</html>
